body {
background: url(https://wallpaperscraft.com/image/letters_surface_colored_line_texture_50512_3840x2160.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html, body {
  height: 100%;
  min-height: 100%;
}
*{
  font-family: Tahoma;
  color: black;
  text-align: center;
}
#botao{
	border-radius: 5px;
	border: 2px solid #0B0A6E;
	background-color: #0B0A6E;
	height: 20px;
	width: 100px;
	margin: auto;
}
a{
	color: #78A096;
	text-decoration: none;
}
.principal {
  height: 100%;
  min-height: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.principal div {
  padding: 40px;
  border: 1px solid #FFFFFF;
  background-color: white;
}

