body {
background: url(https://wallpaperscraft.com/image/letters_surface_colored_line_texture_50512_3840x2160.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*{
  font-family: Tahoma;
  color: black;
  text-align: center;
}
#botao{
	border-radius: 5px;
	border: 2px solid #0B0A6E;
	background-color: #0B0A6E;
	height: 25px;
	width: 120px;
	margin: auto;
}
a{
	color: #78A096;
	text-decoration: none;
	position: center;
}
